.prev {
  background-color: #217C2C;
  text-align: center;
  color: white;
  margin-top: 23px;
  padding: 34px;
}

.prev > img {
  position: relative;
  width: 23%;
  top: 147px;
  left: -39%;
  margin-top: -152px;
}

.prev > div > input {
  height: 29px;
  width: 30%;
}

.prev > div > button {
  width: 7%;
  height: 35px;
  background: #FFDD00;
  border: 2px transparent;
  color: #217C2C;
}

.link {
  font-size: 20px;
  color: #217C2C;
  font-weight: 500;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone > img {
  width: 10%;
  height: 100%;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socials > img {
  margin-bottom: 4%;
}

.logo2 {
  display: none;
}

.ph {
  text-align: center;
}

.ph > div > p {
  padding: 3px 12%;
}

@media screen and (max-width: 900px) {
  * {
    margin: 0%;
    padding: 0%;
  }
  .prev > img {
    display: none;
  }
  .prev > div > input {
    height: 29px;
    width: 60%;
    font-size: 12px;
  }
  .prev > div > button {
    width: 29%;
    height: 35px;
    background: #FFDD00;
    border: 2px transparent;
    color: #217C2C;
    border-radius: 8px;
    margin-left: 3px;
    font-size: 17px;
  }
  .ph {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    line-height: 34px;
    text-align: left;
    margin: 2%;
  }
  .talk {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
    font-size: 15px;
  }
  .copy {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 8px;
  }
  .copy > p {
    font-size: 9px;
  }
  .ph {
    text-align: center;
  }
  .ph > div > p {
    padding: 3px 2%;
    line-height: 49px;
  }
  .lass {
    margin: 30px 3px;
    position: relative;
    right: 19px;
  }
  .l {
    display: none;
  }
  .logo2 {
    display: block;
    text-align: center;
    margin-top: 17px;
  }
  .link {
    font-size: 20px;
    color: #217C2C;
    font-weight: 500;
  }
  .socials {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .socials > img {
    margin: 2%;
  }
}
/*# sourceMappingURL=Footer.module.css.map */