.div31 {
  text-align: center;
  color: #217C2C;
}

.div31 > button:hover {
  background-color: #FFDD00;
  color: #217C2C;
}

.div31 > h3 {
  font-family: Poppins;
  font-size: 19px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: -0.011em;
}

.div31 > p {
  padding: 2% 15%;
  font-size: 15px;
}

.div31 > button {
  background-color: #217C2C;
  border: transparent;
  border-radius: 3px;
  padding: 12px 2%;
  color: white;
}

.compose:hover {
  background-color: #FFDD00;
  color: #217C2C;
}

#modal {
  width: 100%;
  display: block;
  background: #217C2C;
  position: fixed;
  z-index: 1000;
  height: 100vh;
  top: 2px;
  text-align: center;
  color: white;
}

#modal > h6 {
  font-size: 18px;
  margin: 1px;
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1% 2%;
}

.form {
  color: white;
  font-size: 15px;
  padding: 1% 7%;
  text-align: left;
}

.form > input {
  width: 100%;
  padding: 6px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 2px solid white;
  background: #217C2C;
}

.phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
}

.medias {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -23px 0 0 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.doe {
  display: none;
}

.ocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 16px;
}

.ocial > img {
  padding: 0 3%;
}

.compose {
  color: #217C2C;
  border: transparent;
  border-radius: 3px;
  padding: 1% 2%;
  background-color: white;
}

.find {
  text-align: center;
  color: white;
}

.bdrop {
  background-image: url(../image/cons.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 87vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.bdrop > h1 {
  font-size: 40px;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .form > input {
    margin: 0;
  }
  .compose {
    padding: 3% 2%;
    margin: 3%;
  }
  .medias {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -2px 0 0px 0;
  }
}
/*# sourceMappingURL=conultation.css.map */